.controls {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.controls > div {
    display: inline;
}

.controls input {
    margin-right: 5px;
}

.controls .url input {
    width: 40%;
    height: 1.2em;
}

.controls .controls-global {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    margin-left: 1em;
    align-items: stretch;
}

.controls .concurrency input {
    width: 6em;
    height: 1.2em;
    margin: 0;
}
.controls-global .controls-global-header {
    margin-bottom: 0.2em;
}

.controls-global .strategy,
.controls-global .concurrency,
.controls .launch-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    align-items: baseline;
    justify-content: center;
}

.controls .actions {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    justify-content: center;
}

.controls .launch-controls {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    justify-content: start;
}

.controls .label {
    margin-right: 3px;
    font-weight: bold;
    flex-grow: 1;
}



.action-list {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.action-list li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.round-btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 0.8em;
    background: #ccc;
    color: #333;
    width: 4em;
    height: 4em;
    line-height: 4em;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    text-shadow: 1px 1px #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #aaa;
    transition: .2s;
    background-image: linear-gradient(to bottom, #ccc, #fff);
}

.round-btn:hover {
    transition: .2s;
    background: #ccc;
    border-bottom: solid 3px #aaa;
    background-image: linear-gradient(to bottom, #bbb, #eee);
}

.round-btn.launch:active {
    border-bottom: solid 3px #d66 !important;
}

.round-btn:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: solid 3px #ddd !important;
}

.round-btn.launch {
    background: #f88;
    border-bottom: solid 3px #b66;
    color: #fff;
    text-shadow: 1px 1px #777;
    font-size: 3em;
    background-image: linear-gradient(to bottom, #c55, #f88);
}

.round-btn.launch.disabled,
.round-btn.launch.disabled:hover,
.round-btn.launch.disabled:active {
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
    background: #dbb;
    border-bottom: solid 3px #caa !important;
    text-shadow: 1px 1px #555;
    color: #eee;
    background-image: linear-gradient(to bottom, #caa, #dbb);
}

.round-btn.launch:hover {
    transition: .2s;
    background: #d66;
    border-bottom: solid 3px #944;
    background-image: linear-gradient(to bottom, #b44, #e77);
}
